button{
    background-color: #EADDFF;
    color:rgb(108, 69, 117);
    font-weight: 600;
    padding:10px;
    border: none;
    border-radius: 10px;
    cursor:pointer;
}

.button:hover{
    background-color: white;
}